.loader-center{
  background-color: dodgerblue; 
  position: absolute; 
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader-list{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -90px 0 0 -80px; 
}


.loader{
  position: absolute;
  top: 80px;
  left: 65px;
  color: white;
  border-radius: 50%;
  transition: 1s all;
}

.loader-top{
  position: absolute;
  border: 5px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  -webkit-animation: loading linear infinite;
  -moz-animation: loading linear infinite;
  -o-animation: loading linear infinite;
  animation: loading linear infinite; 
}

.loader-bottom{
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: white;
  border-radius: 50%;
  -webkit-animation: loading linear infinite;
  -moz-animation: loading linear infinite;
  -o-animation: loading linear infinite;
  animation: loading linear infinite; 
}

.loader-top.one{
  top: 24px;
  left: 15px;
  width: 120px;
  height: 120px;
  animation-duration: 1s;
}
.loader-top.two{
  top: 37px;
  left: 30px;
  width: 90px;
  height: 90px;
  animation-duration: 1.2s;
}
.loader-top.three{
  top: 50px;
  left: 40px;
  width: 70px;
  height: 70px;
  animation-duration: 1.4s;
}
.loader-top.four{
  top: 64px;
  left: 50px;
  width: 50px;
  height: 50px;
  animation-duration: 1.6s;
}

.loader-bottom.one{
  top: 23px;
  left: 15px;
  width: 120px;
  height: 120px;
  animation-duration: 1s;
}
.loader-bottom.two{
  top: 42px;
  left: 30px;
  width: 90px;
  height: 90px;
  animation-duration: 1.2s;
}
.loader-bottom.three{
  top: 51px;
  left: 40px;
  width: 70px;
  height: 70px;
  animation-duration: 1.4s;
}
.loader-bottom.four{
  top: 59px;
  left: 50px;
  width: 50px;
  height: 50px;
  animation-duration: 1.6s;
}

@-webkit-keyframes loading {
  from{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
  }
  to{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
  }
}

@-moz-keyframes loading {
  from{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
  }
  to{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
  }
}

@-ms-keyframes loading {
  from{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
  }
  to{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
  }
}

@-ms-keyframes loading {
  from{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
  }
  to{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
  }
}

@keyframes loading {
  from{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
  }
  to{
      -webkit-transform: rotateZ(0);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
  }
}


.watchItem {
  border: 2px solid black;
  margin: 4px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  align-items: center;
  margin-bottom: 10px;
  
}

.form-check{
  margin-right: 20px;
}

button {
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  margin: 4px;
  margin-left: auto;
  border-radius: 3px;
}

button::before,
button::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.watchlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsi:hover {
  box-shadow: inset -10.5em 0 0 0 red, inset 10.5em 0 0 0 red;
}


h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: white;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h2 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h2 em {
  font-style: normal;
  font-weight: 600;
}

.seven h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #378bff;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h2:after,
.seven h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

.chart-container {
  margin-top: 10px;
  height: 300px; /* Set a fixed height for the chart container */
}

body{
  background-image: url('C:/sentiment analysis/watchlist/watchlist/asdad.jpg'); 
  background-size:cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
