
.background-image {
    background-image: url('C:/sentiment analysis/watchlist/my-react-app/asdad.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;  
  }
  